<mat-card class="card-info">
  <mat-card-title>4lch4 Home</mat-card-title>

  <mat-card-content>
    <p>Welcome to my homepage. This site is for me to have a central point of contact/tech for everything I do.</p>

    <!-- <p>It's nothing fancy but there are a few easter eggs if you feel like hunting.</p> -->
  </mat-card-content>
</mat-card>

<mat-card class="card-info">
  <mat-card-title>About Me</mat-card-title>

  <mat-card-content>
    <mat-accordion multi="true">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>What's with the name?</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          Well, years ago when I first started playing WoW (2007/08) I created a character and randomly generated the
          name.
          I landed on Alcha and stuck with it for more than a decade. Only as of 2019 am I starting to have issues with
          getting that name on certain sites or services. So, I've swapped the a's for 4's and it's now 4lch4.
        </p>

        <p>It's pronounced <i>AL-KUH</i>, by the way.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Where do you live?</mat-panel-title>
        </mat-expansion-panel-header>

        <p>Good ol' Arkansas, USA.</p>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>What do you do?</mat-panel-title>
        </mat-expansion-panel-header>

        <p>
          Like, for a living? Write code/work on computers. Currently, I'm working as a NOC Engineer at J. B. Hunt in
          Lowell, AR. Before that, I was a freelancer working on projects for my company <a href="https://hasslefree.solutions" target="_blank">HassleFree Solutions, LLC.</a>
          Before that.. Ya know what, if you wanna know more about my professional life, check out <a href="https://www.linkedin.com/in/devin-leaman-49622429/" target="_blank">my LinkedIn page.</a>
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>